
{% extends "layout.html" %}
{% block body %}


<div id="main" class="container">
    
    <table class="table table-hover">
      <tr>
        <th>From</th>
        <th>To</th>
        <th>Action</th>
        
      </tr>
      {% for x in data %}

      <tr>
        <td>{{x.cur_From}}</td>
        <td>{{x.cur_To}}</td>
        <td>
        <form action="/hapus" method="POST" class="form-horizontal">
        <input type="hidden" id="dari" name="dari" class="input"
                placeholder="From" value="{{x.cur_From}}">
                <input type="hidden" id="ke" name="ke" class="input"
                  placeholder="To" value="{{x.cur_To}}"
                  >
        <button type="submit" class="btn btn-danger">Delete</button></td>
      </tr>
      
      {% endfor %}
        </table>

</div>
{% endblock %}